doctype html
html(lang='en')
  head
    title Bargent
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Cabin', rel='stylesheet')
  body
    .biggieone
      .nest
        #header Bargent
        #sub Managing Your Finances
    .two
      .inner
        #image
          img#inage(src='images/iphone.png')
        #expl Check and Manage your finances to help avoid any financial trouble.
        #dota
          img#dotas(src="images/dotas.png")
