html, body {
    margin: 0px;
    height: 100%;
}
.biggieone{
	width: 100%;
	height: 100%;
	display: table;
	background: #FF6E40;
	position: absolute;
}
.nest{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#header{
	color: #fff;
	font-size: 40px;
	font-family: 'Cabin', sans-serif;
}
#sub{
	color: #fff;
	font-size: 25px;
	font-family: 'Cabin', sans-serif;
	margin-top: 25px;
}